/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8 Jul, 2023, 11:24:57 PM
    Author     : mayank_matkar
*/
body
{
  background-image: url('images/SVVV front.png');
  min-height: 80vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.5s;
  filter: brightness(100%);
}
form 
{
    background-color: whitesmoke;
    max-width: 300px;
    margin: 50px auto;
    padding: 30px 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}
.form-control 
{
    text-align: left;
    margin-bottom: 25px;
}
.form-control label 
{
    display: block;
    margin-bottom: 10px;
}
.form-control input,
.form-control select,
.form-control textarea 
{
    border: 1px solid #777;
    font-family: inherit;
    border-radius: 2px;
    padding: 10px;
    
    border-radius: 4px;
    box-sizing: border-box;
    border: 2px solid dodgerblue;
    border-radius: 12px;
    padding: 5px;
}

